body {
    height: 1000px;
    padding-top: 70px;
    background-color: rgb(249, 249, 249);
}

.top {
    border-bottom: 1px solid rgb(209, 209, 209);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 70px;
    background-color: rgb(84, 186, 219);
    z-index: 100;
}

.logo-container {
    display: inline-block;
}

.logo {
    display: inline-block;
    vertical-align: center;
    color: rgb(255, 255, 255);
    font-family: Montserrat, "sans-serif";
    margin-left: 70px;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0px;
    margin-left: 170px;
    position: absolute  ;
    bottom: 12px;
}

.login-button-container {.top
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 180px;
}

.login-button {
    background-color: rgb(84, 186, 219);
    font-weight: bold;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border: none;
}

.register-button-container {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 250px;
    border: none;
}

.register-button {
    margin-right: 15px;
    background-color: rgb(84, 186, 219);
    font-weight: bold;
    font-size: 15px;
    color: rgb(109, 105, 104);
    cursor: pointer;
    border: transparent;
}

.login-button:hover,
.register-button:hover {
    text-decoration: underline;
}


.middle {
    display: grid;
    grid-template-rows: 700px 500px;
}

.first-section {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.main-image-container {
    grid-column: 1/3;
    height: 100%;
}

.main-image {
    width: 600px;
    margin-left: 110px;
    margin-top: 0px;
}


.search-container {
    grid-column: 1/3;
    display: flex;
    flex-flow: column nowrap;
    height: 500px;
}

.search-phrase {
    font-size: 55px;
    color: rgb(0, 30, 52);
    font-weight:bold;
    font-family: League Spartan;
    left: 10px;
    margin-bottom: 15px;
    margin-top: 150px;
}

.search-bar-container {
    border: 1px solid rgb(168, 166, 166);
    padding: 10px 5px 10px;
    border-radius: 5px;
    left: 5px;
    display: flex;
    flex-flow: row nowrap;
    margin-right: 150px;
}

.search-bar {
    width: 93%;
    margin-top: 5px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: rgb(249, 249, 249);;
}


.search-button {
    height: 37px;
    width: 29px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.search-icon {
    height: 20px;
    margin-right: 5px;
}

.outer-search-bar-container {
    height: 250px;
}


.connect-phrase-container {
    position: relative;
    width: 100%;
}

.connect-phrase {
    font-size: 50px;
    font-weight: bold;
    font-family: League Spartan;
    color: rgb(0, 24, 41);
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
    left: 150px;
}

.p2 {
    font-size: 20px;
    font-family: sans-serif;
    margin-top: 0px;
    color: rgb(88, 88, 88);
}

.second-section {
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    margin-top: -30px;
}

.visit-grid {
    display: grid;
    grid-auto-rows: 15% 1fr;
    margin-right: 150px;
    margin-bottom: 20px;
    
}

.visit-subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.visit-phrase {
    color: rgb(123, 123, 123);
    font-size: 15px;
    font-family: Montserrat, "sans-serif";
    font-weight: bold;

}

.visit-button {
    color: rgb(84, 186, 219);
    font-size: 100%;
    font-family: Montserrat;
    font-weight: 500;
    border: 3px solid rgb(84, 186, 219);
    background-color: white;
    width: 80%;
    height: 30%;
    border-radius: 30px;
    cursor: pointer;
}

.visit-button:hover {
    background-color: rgb(234, 234, 234);
}

.featured-container {
    display: grid;
    grid-template-rows: 10% 1fr;
}

.featured-phrase {
    font-size: 18px;
    margin-left: 188px;
    font-family: League Spartan;
    color: gray;
}

.scroll-container {
    height: 500px;
    margin-left: 40px;
}

@media (min-width: 768px) {
    .main-image-container{
        grid-column: 1/2;
    }

    .search-container {
        grid-column: 2/3;
    }
}

.topic-button-container {
    margin-top: 0px;
    margin-left: 50px;
}

.topic-button {
  display: inline-block;
  margin: .5em .8em;
  padding: .5em 1em;
  background: rgb(84, 186, 219);
  color: white;
  border-radius: 2em;   
  border: none;
  cursor: pointer;
  font-size: 1.1em;
  transition: all 0.4s;
}

.topic-button:hover {
    background-color: rgb(51, 139, 168);                 ;
    color: white;
}

.visit-container {
    margin-top: 0;
    margin-left: 0px;
}

.most-cited-container {
    margin-left: 0px;
    margin-top: 0px;
    font-size: 20px;
    text-align: center;
}

.most-cited-phrase {
    font-size: 45px;
    font-family: League Spartan;
    color: rgb(0, 24, 41);
    text-align: center;
}

.most-cited-phrase2 {
    font-size: 45px;
    font-family: League Spartan;
    color: rgb(0, 24, 41);
    text-align: center;
    margin-right: 80px;
}

.list {
    font-weight: bold;
    font-size: 22px;
}

.link:link {
    color: rgb(0, 24, 41);
}

.link:visited {
    color:rgb(0, 24, 41);
}

.info {
    margin-top: -15px;
    font-weight: bold;
    color: rgb(84, 186, 219);
}
