body {
    padding-bottom: 600px;
}

.top {
    border-bottom: 1px solid rgb(190, 190, 190);
}

.logo-container {
    display: inline-block;
}

.logo {
    display: inline-block;
    vertical-align: center;
    color: rgb(64, 186, 155);
    font-family: Montserrat, "sans-serif";
    margin-left: 70px;
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 0px;
    margin-left: 170px;
    position: relative;
    bottom: 12px;
}

.login-button-container {
    float:right;
    display: inline-block;
    margin-right: 160px;
    position: relative;
    top: 13px;
}

.login-button {
    background-color: white;
    font-weight: bold;
    font-size: 16px;
    color: rgb(64, 186, 155);
    cursor: pointer;
    border: none;
}

.register-button-container {
    float: right;
    display: inline-block;
    position: relative;
    top: 13px;
}

.register-button {
    margin-right: 15px;
    color: rgb(109, 105, 104);
    background-color: white;
    font-weight: bold;
    font-size: 16px;
    color: rgb(109, 105, 104);
    cursor: pointer;
    border: none;
}

.login-button:hover,
.register-button:hover {
    text-decoration: underline;
}


.main-image-container {
    display: inline-block;
    width: 500px;
    height:419px;
}

.main-image {
    width: 450px;
    margin-left: 120px;
    margin-top: 60px;
}

.search-container {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 504px);
    height: 419px;
}

.search-phrase-container {
    height: 50%;
}


.search-phrase {
    display: inline-block;
    font-size: 40px;
    color: rgb(0, 30, 29);
    font-weight:bold;
    font-family: Montserrat;
    margin-bottom: 0px;
    margin-top: 0px;
    position: relative;
    left: 350px;
    top: 50%;
}

.search-bar-container {
    display: inline-block;
    margin-left: 230px;
    border: 1px solid rgb(168, 166, 166);
    padding: 20px 90px 20px 20px;
    border-radius: 5px;
    position: relative;
    left: 118px;
}

.search-bar {
    font-size: 20px;
    width: 420px;
    height: 20px;
    border: none;
    outline: none;
}

.search-button {
    height: 37px;
    width: 29px;
    position: relative;
    left: 70px;
    top:15px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.search-icon-container {
    display: inline-block;
    vertical-align: top;
}

.search-icon {
    vertical-align: center;
    height: 19px;
    position: relative;
    top:2px;
    right: 5px;
}

.connect-phrase-container {
    display: inline-block;
    width:45vw;
    margin-left: 100px;
}

.connect-phrase {
    font-size: 53px;
    font-weight: bold;
    font-family: Montserrat;
    color: rgb(0, 30, 29);
}