body {
    height: 1300px;
    padding-top: 70px;
}

.top {
    border-bottom: 1px solid rgb(209, 209, 209);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 70px;
    background-color: white;
    z-index: 100;
}

.logo-container {
    display: inline-block;
}

.logo {
    display: inline-block;
    vertical-align: center;
    color: rgb(64, 186, 155);
    font-family: Montserrat, "sans-serif";
    margin-left: 70px;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0px;
    margin-left: 170px;
    position: absolute  ;
    bottom: 12px;
}

.login-button-container {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 180px;
}

.login-button {
    background-color: white;
    font-weight: bold;
    font-size: 15px;
    color: rgb(64, 186, 155);
    cursor: pointer;
    border: none;
}

.register-button-container {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 250px;
}

.register-button {
    margin-right: 15px;
    color: rgb(109, 105, 104);
    background-color: white;
    font-weight: bold;
    font-size: 15px;
    color: rgb(109, 105, 104);
    cursor: pointer;
    border: none;
}

.login-button:hover,
.register-button:hover {
    text-decoration: underline;
}


.middle {
    display: grid;
    grid-row-gap: 10px;
}

.first-section {
    display: grid;
    grid-template-columns: 50% 1fr;
}

.main-image-container {
    position: relative;
    height: 500px;
}

.main-image {
    width: 430px;
    position: absolute;
    top: 10px;
    right: 168px;   
}

.outer-search-pharase-container,
.outer-search-bar-container {
    position: relative;
}

.search-container {
    display: grid;
    grid-template-rows: 300px 300px;
    position: relative;
}

.search-phrase-container {
    position: absolute;
    bottom:50%;
}

.search-phrase {
    font-size: 50px;
    color: rgb(0, 30, 29);
    font-weight:bold;
    font-family: Montserrat;
    position: relative;
    margin-bottom: 15px;
}

.search-bar-container {
    border: 1px solid rgb(168, 166, 166);
    padding: 20px 90px 5px 20px;
    border-radius: 5px;
    position: absolute;
    left: 5px;
}

.search-bar {
    margin-top: 5px;
    font-size: 25px;
    width: 450px;
    height: 20px;
    border: none;
    outline: none;
}


.search-button {
    height: 37px;
    width: 29px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.search-icon {
    height: 25px;
    position: absolute;
    bottom: 23px;
    right: 35px;
}

.connect-phrase-container {
    display: inline-block;
    width:45vw;
    margin-left: 100px;
}

.connect-phrase {
    width: 800px;
    font-size: 60px;
    font-weight: bold;
    font-family: Montserrat;
    color: rgb(0, 30, 29);
    position: absolute;
    left: 180px;
    margin-top: 0px;
}

.p2 {
    font-size: 28px;
    font-family: Montserrat;
    margin-top: 0px;
}
