.content_header{
    flex-grow: 1;
    width: 100%;
    background-color: black;

}

body {
    height: 1000px;
    padding-top: 70px;
    font-family: 'League Spartan';
}

.top {
    border-bottom: 1px solid rgb(209, 209, 209);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 70px;
    background-color: rgb(84, 186, 219);
    z-index: 100;
}


h1{
    text-align: left;
    font-size: 50px;
    color:black;
    padding-left: 30px;
}
h3{
    color: black;
    font: Serif;
}
h2{
    font-size: xx-large;
}

ul {
    list-style-position: outside;
}
li {
    list-style: none;
    background: transparent no-repeat left center;
    color: black;
    padding-left: 20px; 
}
a:link{
    color: black;
}

.header img{
    float: left;
    width: fit-content;
    height: fit-content;
}


.login-button-container {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 180px;
}

.login-button {
    background-color: rgb(84, 186, 219);
    font-weight: bold;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border: none;
}

.register-button-container {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 250px;
}

.register-button {
    margin-right: 15px;
    color: rgb(109, 105, 104);
    background-color: rgb(84, 186, 219);
    font-weight: bold;
    font-size: 15px;
    color: rgb(109, 105, 104);
    cursor: pointer;
    border: transparent;
}

.login-button:hover,
.register-button:hover {
    text-decoration: underline;
}
/*styles for name*/

.logo-container {
    display: inline-block;
}

.logo {
    display: inline-block;
    vertical-align: center;
    color: white;
    font-family: Montserrat, "sans-serif";
    margin-left: 70px;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0px;
    margin-left: 170px;
    position: absolute  ;
    bottom: 12px;
}

/* Lists */
.list {
    font-weight: bold;
    font-size: 22px;
}

.list-item {
    font-weight: bold;
    font-size: 22px;
}

.list-long-item {
    font-weight: bold;
    font-size: 20px;
    margin-top: 2em;
}

/* cards */
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card-hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container{
    padding: 2px 16px;
}
