.login-phrase {
    font-family: League Spartan;
    color: rgb(0, 30, 52);
    margin-left: 650px;
    font-size: 40px;
}

.logo {
    display: inline-block;
    vertical-align: center;
    color: white;
    font-family: Montserrat, "sans-serif";
    margin-left: 70px;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0px;
    margin-left: 170px;
    position: absolute;
    bottom: 12px;
}

.top {
    border-bottom: 1px solid rgb(209, 209, 209);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 70px;
    background-color: white;
    z-index: 100;
    background-color: rgb(84, 186, 219);
}

.login-button-container {.top
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 180px;
}

.login-button {
    background-color: rgb(84, 186, 219);
    font-weight: bold;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border: none;
}

.register-button-container {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 250px;
}

.register-button {
    margin-right: 15px;
    color: rgb(109, 105, 104);
    background-color: rgb(84, 186, 219);
    font-weight: bold;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border: transparent;
}

.login-button:hover,
.register-button:hover {
    text-decoration: underline;
}

.btn-primary {
    display: block;
    margin-top: 30px;
    margin-left: 660px;
    margin-bottom: 30px;
    height: 30px;
    width: 90px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(191, 191, 191);
    font-weight: bold;
}

.btn-primary:hover {
    background-color: rgb(210, 210, 210);
}

.py-5 {
    position: relative;
    top: 100px;
}

.form-control-username {
    display: block;
    margin-bottom: 40px;
    margin-left: 525px;
    width: 360px;
    height: 30px;
}

.form-control-password {
    display: block;
    margin-bottom: 20px;
    margin-left: 525px;
    width: 360px;
    height: 30px;
}

.text-center {
    margin-left: 575px;
}

.flex-container {
    display: flex;
    justify-content: column;
}


@media (max-width: 900px) {
    .login-phrase {
	font-family: League Spartan;
	color: rgb(0, 30, 52);
	margin-left: 250px;
	font-size: 40px;
    }

    .btn-primary {
	display: block;
	margin-top: 30px;
	margin-left: 260px;
	margin-bottom: 30px;
	height: 30px;
	width: 90px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	background-color: rgb(191, 191, 191);
	font-weight: bold;
    }
    
    .py-5 {
	position: relative;
	top: 100px;
    }

    .form-control-username {
	display: block;
	margin-bottom: 40px;
	margin-left: 125px;
	width: 360px;
	height: 30px;
    }

    .form-control-password {
	display: block;
	margin-bottom: 20px;
	margin-left: 125px;
	width: 360px;
	height: 30px;
    }

    .text-center {
	margin-left: 175px;
    }
}
