.register-phrase {
    font-family: League Spartan;
    color: rgb(0, 30, 52);
    margin-left: 637px;
    font-size: 40px;
}

.logo {
    display: inline-block;
    vertical-align: center;
    color: white;
    font-family: Montserrat, "sans-serif";
    margin-left: 70px;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0px;
    margin-left: 170px;
    position: absolute;
    bottom: 12px;
}

.py-5 {
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top {
    border-bottom: 1px solid rgb(209, 209, 209);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 70px;
    background-color: white;
    z-index: 100;
    background-color: rgb(84, 186, 219);
}

.login-button-container {.top
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 180px;
}

.login-button {
    background-color: rgb(84, 186, 219);
    font-weight: bold;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border: none;
}

.register-button-container {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 250px;
}

.register-button {
    margin-right: 15px;
    color: rgb(109, 105, 104);
    background-color: rgb(84, 186, 219);
    font-weight: bold;
    font-size: 15px;
    color: white;
    cursor: pointer;
    border: transparent;
}

.login-button:hover,
.register-button:hover {
    text-decoration: underline;
}

.form-control-username {
    display: block;
    margin-left: 525px;
    width: 360px;
    height: 30px;
    justify-content: center;
    margin-bottom: 28px;
}

.form-control-email {
    display: block;
    margin-left: 525px;
    width: 360px;
    height: 30px;
    justify-content: center;
    margin-bottom: 28px;
}


.form-control-password {
    display: block;
    margin-left: 525px;
    width: 360px;
    height: 30px;
    justify-content: center;
    margin-bottom: 28px;
    
}

.btn-primary {
    display: block;
    margin-top: 30px;
    margin-left: 660px;
    margin-bottom: 30px;
    height: 30px;
    width: 90px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(191, 191, 191);
    font-weight: bold;
    transition: all 0.2s; 
}

.text-center {
    margin-left: 563px;
    justify-content: center;    
}
