body {
    background-color: rgb(13, 17, 23);;
}

.top-container {
    height: 10vh;
    text-align: right;
}

.register-button, 
.login-button {
    background-color: rgb(120, 103, 81);
    cursor: pointer;
    border-radius: 100px;
    border: none;
    width: 75px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 22px;
    margin-top: 15px;
}

.register-button:hover, 
.login-button:hover {
    background-color: rgb(99, 90, 77);
}

.second-section-container {
    text-align: center;
    height: 50vh;
}

.logo {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 90px;
    font-family: 'Fredoka One', cursive;
    color:rgb(192, 144, 77);
}

.search-bar {
    text-indent: 10px;
    font-size: 18px;
    width: 528px;
    height: 25px;
    border: none;
    border-radius: 10px;
    padding: 0px 35px 0px 0px;
}

.search-button {
    vertical-align: center;
    width: 25px;
    height: 20px;
    border-radius: 10px;
    border: none;
    position: relative;
    right: 40px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.search-button:hover {
    background-color: rgb(255, 255, 255);
}

.search-icon {
    position: relative;
    top: 1px;
    height: 15px;
}


.third-section-container {
    height: 25vh;
}
