body {
    background-color: rgb(13, 17, 23);
}

.register {
    width: 300px;
    margin: auto;
}

.title {
    font-size: xx-large;
    font-weight: bold;
    color: rgb(192, 144, 77);
}

.form-container {
    text-align: left;
    color: rgb(120, 103, 81);
    padding: 20px;
    border-style: solid;
    border-width: 1px;
}

.submit-button, 
.cancel-button {
    margin-top: 10px;
    background-color: rgb(192, 144, 77);
    border: 0px;
    width: 70px;
    height: 30px;
    font-weight: bold;
    font-size: medium;
}

.submit-button{
    float: right;
}

.submit-button:hover,
.cancel-button:hover {
    background-color: rgb(99, 90, 77);
}

.input-form {
    margin-bottom: 10px;
    width: 249px;
}

.top-container {
    height: 10vh;
    text-align: right;
}

.register-button, 
.login-button {
    background-color: rgb(120, 103, 81);
    cursor: pointer;
    border-radius: 100px;
    border: none;
    width: 75px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    margin-right: 22px;
    margin-top: 15px;
}

.register-button:hover, 
.login-button:hover {
    background-color: rgb(99, 90, 77);
}

.second-section-container {
    text-align: center;
    height: 50vh;
}

.logo {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 90px;
    font-family: 'Fredoka One', cursive;
    color:rgb(192, 144, 77);
}

.search-bar {
    text-indent: 10px;
    font-size: 18px;
    width: 528px;
    height: 25px;
    border: none;
    border-radius: 10px;
    padding: 0px 35px 0px 0px;
}

.search-button {
    vertical-align: center;
    width: 25px;
    height: 20px;
    border-radius: 10px;
    border: none;
    position: relative;
    right: 40px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
}

.search-button:hover {
    background-color: rgb(255, 255, 255);
}

.search-icon {
    position: relative;
    top: 1px;
    height: 15px;
}

.third-section-container {
    height: 25vh;
}

.text-container {
    color: rgb(255, 255, 255);    
}

.main-container {
    text-align: center;
    margin-top: 70px;
    color: rgb(255, 255, 255);
}

.link-container {
    margin-top: 10px;
    font-size: 25px;
    color: rgb(192, 144, 77);
}

.left-bar-title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(255, 255, 255);
}

.left-bar-container {
    position: absolute;
    left: 15%;
    top: 300px;
    text-align: center;
    width: 200px;
    border-right: 1px solid rgb(255, 255, 255);
    border-left: 1px solid rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(255, 255, 255);
}

.info-container {
    margin-top: 70px;
    color: rgb(255, 255, 255);
}

.bottom-container {
    height: 10vh;
    text-align: left;
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 1%;
    left: 5%;
}