body {
    background-color: rgb(13, 17, 23);
}

.top-section {
    text-align: right;
}

.register-button {
    font-size: 20px;
    font-weight: bold;
    width: 92px;
    height: 52px;
    border: none;
    border-radius: 25px;
    background-color:rgb(170, 153, 130);
    cursor: pointer;
    margin-right: 25px;
    margin-top: 15px;
}

.log-in-button {
    font-size: 20px;
    font-weight: bold;
    width: 88px;
    height: 52px;
    border: none;
    border-radius: 25px;
    background-color:rgb(170, 153, 130);
    cursor: pointer;
    margin-right: 25px;
    margin-top: 15px;
}

.logo {
    font-family: 'Fredoka One', cursive;
    font-size: 100px;
    font-weight: normal;
    text-align: center;
    color:rgb(192, 144, 77);
    margin-top: 50px;
    margin-bottom: 10px;
    text-shadow: 10px 1px 10px rgb(10, 10, 10);
}

.search-bar {
    text-align: left;
    display: block;
    margin: 0 auto;
    font-size: 15px;
    padding: 0px, 1003px, 1513px;
    width: 500px;
    height: 25px;
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(0, 0, 0);
    float: left;
    position: relative;
    left: 31%;
}

.submit-button {
    width: 40px;
    height: 29px;
    padding: 0px, 1003px, 1513px;
    cursor: pointer;
    position: relative;
    left: 31%;
}

.knowledge-phrase {
    text-align: center;
    font-size: 25px;
    color: rgb(170, 170, 170);
    margin-top: 15px;
}

.most-cited {
    color: azure;
}

.articles {
    color: azure;
}
