body {
    height: 1000px;
    padding-top: 70px;
}

.top {
    border-bottom: 1px solid rgb(209, 209, 209);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 70px;
    background-color: rgb(84, 186, 219);
    z-index: 100;
}

.logo-container {
    display: inline-block;
}

.logo {
    display: inline-block;
    vertical-align: center;
    color: rgb(255, 255, 255);
    font-family: Montserrat, "sans-serif";
    margin-left: 70px;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0px;
    margin-left: 170px;
    position: absolute  ;
    bottom: 12px;
}

.login-button-container {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 180px;
}

.login-button {
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    color: rgb(84, 186, 219);
    cursor: pointer;
    border: none;
}

.register-button-container {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 250px;
}

.register-button {
    margin-right: 15px;
    color: rgb(109, 105, 104);
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    color: rgb(109, 105, 104);
    cursor: pointer;
    border: transparent;
}

.login-button:hover,
.register-button:hover {
    text-decoration: underline;
}

.middle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.center {
    grid-column: 2 / 4;
    text-align: center;
}

.title {
    font-family: League Spartan;
    font-weight: bold;
    font-size: 50px;
    color: rgb(40, 124, 152);
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}

.content {
    font-family: Montserrat, "sans-serif";
    font-weight: 500;
    font-size: 18px;
    color: black;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 50px;
    text-align: justify;
}

.left {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    margin-right: 30%;
}

.right {
    grid-column: 4/4;
    grid-row: 1;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 70px;
}

.visit-phrase {
    color: rgb(123, 123, 123);
    font-size: 35px;
    font-family: Montserrat, "sans-serif";
    font-weight: bold;
}

.list-item {
    font-weight: bold;
    font-size: 22px;
}

.list-long-item {
    font-weight: bold;
    font-size: 20px;
    margin-top: 2em;
}

.info-container {
    margin-top: 100px;
}

.info-phrase {
    display: inline-block;
    color: rgb(84, 186, 219);;
    font-size: 26px;
    font-family: League Spartan;
}

.info {
    display: inline-block;
    font-family: League Spartan;
    font-size: 20px;
    color: black;
    margin-top: -30px;
    margin-left: 0px;
    text-align: justify;
}

.scroll-container {
    overflow-y: auto;
    height: 1000px;
    scroll-behavior: smooth;
}







.visit-button {
    color: rgb(64, 186, 155);
    font-size: 100%;
    font-family: Montserrat;
    font-weight: 500;
    border: 3px solid rgb(64, 186, 155);
    background-color: white;
    width: 80%;
    height: 30%;
    border-radius: 30px;
    cursor: pointer;
}

.visit-button:hover {
    background-color: rgb(234, 234, 234);
}

.topic-button-container {
    margin-top: -20px;
    margin-left: -10px;
}

.topic-button {
  display: inline-block;
  margin: .5em .8em;
  padding: .2em 1em;
  background: rgb(128, 225, 201);
  color: black;
  border-radius: 2em;   
  border: none;
  cursor: pointer;
  font-size: 1.1em;
}

.topic-button:hover {
    background-color: rgb(64, 186, 155);
    color: white;
}

.visit-container {
    margin-top: -180px;
    margin-left: 20px;
}

.list-item {
    font-weight: bold;
    font-size: 28px;
    margin-top: 2em;
}

.info-link {
    margin-top: -15px;
    font-size: 27px;
    color: rgb(13, 126, 98);
}