<!DOCTYPE html>
<html>

   <head>
       <title>Scinet</title>
       <link rel="stylesheet" href="style.css">

       <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
   </head>


   <body>

      <div class="general">
         <h1 class="logo">
            SCINET
         </h1>
         <input class="search-bar"type="text" placeholder="Search">
         <p class="knowledge-phrase">
            knowledge as a human right
         </p>
      </div>


      <h2>Most cited:</h2>
      <div class="articles">
         {%for publication in most_cited%}
            <div class="article">
               <h3>{{publication.0.title}}</h3>
               <p>In {{publication.0.journal.name}}. Cited {{publication.1}} times</p>
            </div>
         {%endfor%}
      </div>
   </body>

</html>