{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>Scinet</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
  </head>

  <body>
    <div class="top" id="top-id">
      <div class="logo-container">
	<p class="logo">SCINET</p>
      </div>
      <div class="login-button-container">
	<button class="login-button">Log in</button>
      </div>
      <div class="register-button-container">
	<button class="register-button">Register</button>
      </div>
    </div>
    
    <div class="middle">
      <div class="main-image-container">
	<img class="main-image" src="{% static 'images/main.svg' %}">
      </div>
      <div class="search-container">
	<div class="search-phrase-container">
	  <p class="search-phrase">Search Publications</p>
	</div>
	<div class="search-bar-container">
	  <input type="text" class="search-bar" placeholder="Search">
	</div>
  <div class="search-icon-container">
    <button class="search-button">
      <svg class="search-icon" aria-labelledby="title desc" role="img" 
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.9 19.7">
      <title id="title">Search Icon</title>
      <desc id="desc">A magnifying glass icon.</desc>
      <g class="search-path" fill="none" stroke="gray" stroke-width="2">
        <path stroke-linecap="square" d="M18.5 18.3l-5.4-5.4"/>
        <circle cx="8" cy="8" r="7"/></g></svg>
    </button>
  </div>
      </div>
    </div>
    
    <div class="bottom">
      <div class="connect-phrase-container">
        <p class="connect-phrase">Connect with your scientific community!</p>
      </div>

    </div>

    <script>
      window.onscroll = function() {myFunction()};
      
      var top = document.getElementById("top-id");
      var sticky = header.offsetTop;
      
      function myFunction() {
        if (window.pageYOffset > sticky) {
          header.classList.add("sticky");
        } else {
          header.classList.remove("sticky");
        }
      }
      </script>

  </body>
  
</html>

