
{% load static %}
<!DOCTYPE html>
<style>
    h1{
    text-align: left;
    font-size: 50px;
    color:white;
    padding-left: 30px;
    }
    h3{
        color: antiquewhite;
        font: Serif;
    }
    ul {
  list-style-position: outside;
    }
    li {
    list-style: none;
    background: transparent no-repeat left center;
    color: aliceblue;
    padding-left: 20px; /* or whatever the width of your image is, plus a gap */
    }
    a:link{
        color: aliceblue;
    }
</style>
<html>
    <head>
        <h1>Institution: {{institution.name}}</h1>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">   
      </head>

      <hr class="solid">
    <body>

        <div style="display: flex; justify-content: space-around">
            <div>
                <h2 class="text-container", style="margin-left: 60px;">Authors</h2>
                <ul >
                    {% for author in authors %}
                    <li>
                      
                            <a class="nav-item nav-link text-light" href="../../main/author/{{author.general_user_id}}">
                                <h3>{{author.institution_id}}</h3>
                            </a>
                       
                          
                    </li>  
                    {%endfor%}
                </ul>

                {% for author in authors %}
                <h3>{{author.first_name}}</h3> 
                {% endfor %}
            </div>

            <div>
                <h2 class="text-container", style="margin-left: 60px;">Publications</h2>
                {%if publications.len == 0%}
                <p>No publications</p>
                {%endif%}
                {%for publication in publications%}
                <h3>{{publication.title}}</h3> 
                <!-- <a href="{% url 'publication' publication.publication_id %}"> 
                    
                </a> -->
                {%endfor%}
            </div>
        </div>
        
        <div class="text-container">
            <div class="text-container">
            
        </div>
        
    </body>
</html>