
{% load static %}
<!DOCTYPE html>
<style>
    h1{
    text-align: left;
    font-size: 50px;
    color:white;
    padding-left: 30px;
}
</style>
<html>
    <head>
        <h1>{{institution.name}}</h1>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">   
      </head>

    <body>
        <h2 class="text-container", style="margin-left: 60px;">Publications</h2>
        
        <div class="text-container">
            <div class="text-container">
                {%for pub in publications%}
            <a href="{% url 'publication' publication.0.publication_id %}"> 
                <h3>{{pub.title}}</h3> 
            </a>
            {%endfor%}
        </div>
        
    </body>
</html>