
{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <h1>Institution: {{institution.name}}</h1>
        <link rel="stylesheet" href="{% static 'institution_journal.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">   
        <link href="https://fonts.googleapis.com/css?family=League Spartan" rel="stylesheet">
      </head>

      <hr class="solid">
    <body>

        <div class="top" id="top-id">
            <div class="logo-container">
              <p class="logo">SCINET</p>
            </div>
    
            <div class="login-button-container">
                <a href="{% url 'index' %}"> <button class="login-button">Home</button> </a>
              </div>
              
              <div class="register-button-container">
                <button class="register-button" onclick="history.go(-1)">Return</button>
              </div>
          </div>


        <div style="display: flex; justify-content: space-around">
            <div>
                <h2 class="text-container", style="margin-left: 60px;">Authors</h2>
                <ul >
                    {% for author in authors %}
                    <li>
                      
                            <a class="nav-item nav-link text-light" href="../../main/author/{{author.general_user_id}}">
                                <h3>{{author.institution_id}}</h3>
                            </a>
                       
                          
                    </li>  
                    {%endfor%}
                </ul>

                {% for author in authors %}
                <h3>{{author.first_name}}</h3> 
                {% endfor %}
            </div>

            <div>
                <h2 class="text-container", style="margin-left: 60px;">Publications</h2>
                {%if publications.len == 0%}
                <p>No publications</p>
                {%endif%}
                {%for publication in publications%}
                <h3>{{publication.title}}</h3> 
                <!-- <a href="{% url 'publication' publication.publication_id %}"> 
                    
                </a> -->
                {%endfor%}
            </div>
        </div>
        
        <div class="text-container">
            <div class="text-container">
            
        </div>
        
    </body>
</html>