 {% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=League+Spartan:wght@700&display=swap" rel="stylesheet">
  </head>

  <body>
    
    <div class="top" id="top-id">
      <div class="logo-container">
	<p class="logo">SCINET</p>
      </div>
    </div>
    
    {% block content %}
    <div class="container py-5">
      <h1 class="login-phrase">Login</h1>
      <form class="container form" method="post">
	<input type="input" class="form-control-username" name="username" id="inputEmail" required>
	<input type="password" class="form-control-password" name="password" id="inputPass" required>
        <button class="btn btn-primary" type="submit">Login</button>
      </form>
      <p class="text-center">
        Don't have an account? <a href="{% url 'register' %}">Create an account</a>
      </p>
    </div>
    {% endblock %}
    
  </body>
</html> 
