{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>Scinet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=League+Spartan:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'index.css' %}">
    </head>

<body class="register">

<div class="top" id="top-id">
    <div class="logo-container">
      <a class="logo" href="{% url 'index' %}">SCINET</a>
    </div>
</div>

{% block content %}

<div class="container py-5">
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ login_form.non_field_errors }}
        {% for field in login_form %}
            <p>
                {{ field.errors }}
                {{ field.label }}
                {{ field }}
            </p>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
    <p class="text-center">
        Don't have an account? <a href="{% url 'register' %}">Create an account</a>
    </p>
</div>

{% endblock %}

</body>
</html>