{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=League+Spartan:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    
    <div class="top" id="top-id">
      <div class="logo-container">
	<p class="logo">SCINET</p>
      </div>
    </div>
    
    {% block content %}
    <div class="container py-5">
      <h1 class="login-phrase">Log in</h1>

      <div class="flex-container">
	<form class="container form" method="post">
	  {% csrf_token %}
	  <input type="input" class="form-control-username" placeholder="Username" id="inputEmail" required>
	  <input type="password" class="form-control-password" placeholder="Password" id="inputPass" required>
          <button class="btn btn-primary" type="submit">Log in</button>
	</form>
      </div>
      <p class="text-center">
        Don't have an account? <a href="{% url 'register' %}">Create an account</a>
      </p>
    </div>
    {% endblock %}
    
  </body>
</html> 
