{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>{{ publication.title }}</title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">   
      </head>

<body>
    <div>
        <h1 class="text-container">{{publication.title}}</h1>
        <h2 class="text-container">Authors:</h2>
        <div class="text-container">
            {%for author in authors%}
                <a href="{% url 'user' author.general_user_id %}"> <p>{{author.last_name}} {{author.first_name}}</p> </a>
            {%endfor%}
    </div>
</body>

</html>