{% load static %}
<!DOCTYPE html>

<html>
  <head>
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=League+Spartan:wght@700&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class="register">
    <div class="top" id="top-id">
      <div class="logo-container">
	<p class="logo">SCINET</p>
      </div>
      <div class="login-button-container">
        <a href="{% url 'index' %}"> <button class="login-button">Home</button> </a>
      </div>
      
      <div class="register-button-container">
        <button class="register-button" onclick="history.go(-1)">Return</button>
      </div>
    </div>

    
    {% block content %}

    <div class="container py-5">
      <h1 class="register-phrase">Register</h1>
      <form method="post">
        {% csrf_token %}
	<div class="input-container">
	<input type="input" class="form-control-username" placeholder="Username" id="inputEmail" required>
	<input type="input" class="form-control-email" placeholder="Email" id="inputEmail" required>
	<input type="password" class="form-control-password" placeholder="Password" id="inputPass" required>
	</div>
	
        <button class="btn btn-primary" type="submit">Register</button>
      </form>
      <p class="text-center">
        If you already have an account, <a href="{% url 'login' %}">login</a> instead.
      </p>
    </div>

    {% endblock %}
  </body>
</html>


